---
Checks:          'clang-diagnostic-*,clang-analyzer-*,google-*,bugprone-*,performance-*,portability-*'
WarningsAsErrors: 'clang-diagnostic-*,clang-analyzer-*,google-*,bugprone-*,performance-*,portability-*'
HeaderFilterRegex: '';
AnalyzeTemporaryDtors: false
FormatStyle:     google
---