Checks:          'clang-diagnostic-*,clang-analyzer-*,google-*,bugprone-*,performance-*,portability-*,-bugprone-reserved-identifier,-bugprone-suspicious-include'
WarningsAsErrors: 'clang-diagnostic-*,clang-analyzer-*,google-*,bugprone-*,performance-*,portability-*,-bugprone-reserved-identifier,-bugprone-suspicious-include'
HeaderFilterRegex: '.*/cask/.*'
FormatStyle:     google