name: Build, Test, and Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  hooch-build:
    name: Cask Build and Test
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        target: [host, benchmark]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Update Apt Cache
        run: sudo apt-get update
      - name: Install Apt Development Dependencies
        run: sudo apt-get install -y ninja-build build-essential python3-pip gcovr cppcheck
      - name: Install Python Development Dependencies
        run: sudo python3 -m pip install meson==0.56.0
      - name: Install Toolchains
        run: ./install_toolchains.sh ${{ matrix.target }}
      - name: Build and Test
        working-directory: build_${{ matrix.target }}
        run: meson test --verbose
      - name: Generate Coverage Reports
        if: ${{ matrix.target == 'host' }}
        run: ninja coverage -C build_${{ matrix.target }}
      - name: Upload Coverage Results to Codecov
        if: ${{ matrix.target == 'host' }}
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
      - name: Run cppcheck
        if: ${{ matrix.target == 'host' }}
        run: ninja cppcheck -C build_${{ matrix.target }}

